

<%= image_tag("hand.png", id: "home") %>
<h2 class='sig-color'>You owe me, homie.</h2>

<%= form_tag login_path do %>
  <%= text_field_tag :user_email, '', placeholder: "email" %>
  <%= password_field_tag :user_password, '', placeholder: "password" %>
  <div class='wrap-center'>
    <%= submit_tag "Login" %>
    <%= link_to "Register", new_user_path %>
  </div>
<% end %>

<% if flash[:error] %>
  <div class='wrap-center'><p class='error'><%= flash[:error] %></p></div>
<% end %>
