<h1>D'well</h1>

<% if flash[:error] %>
  <h2><%= flash[:error] %></h2>
<% end %>

<%= link_to "Register", new_user_path %>

<%= form_tag login_path do %>
  <%= text_field_tag :user_email %>
  <%= password_field_tag :user_password %>
  <%= submit_tag "Login" %>
<% end %>

