<%= form_for @group do |f| %>
  <%= f.text_field :name, placeholder: "Group name" %>
  <%= f.text_field :blurb, placeholder: "Blurb" %>
  <div class='wrap-center' id='add-member-container'><%= button_tag "Add member", id: "add-member", type: 'button' %></div>
  <div class='wrap-center'><%= f.submit %></div>
<% end %>

<% if @group.errors.any? %>
  <% @group.errors.full_messages.each do |msg| %>
    <div class='wrap-center'><p class='error'> <%= msg %> </p></div>
  <% end %>
<% end %>
