<h1>New Billing</h1>

<%= form_tag group_transactions_path do %>
  <% count = 0 %>

  <% @group_members.each do |member| %>
    <%= member.first_name %> <%= check_box_tag "members[#{count += 1}]", "#{member.email}" %>
  <% end %>

  <%= text_field_tag :transaction_amount, '', placeholder: "Amount" %>
  <div class='wrap-center'><%= submit_tag "Create Bill" %></div>
<% end %>
