<!DOCTYPE html>
<html>
<head>
  <title>Groups</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
    <%= render 'layouts/header' %>
  <% end %>
  <div id="app-container">
    <%= yield %>
  </div>

</body>
</html>
